{% extends '../base/base.html' %}
{% block content %}

<body>
  <div class="container my-5">


    <h1>{{ user.username }} 님의 프로필</h1>
    <p>{{ user.email }} | {{ user.full_name }}</p>
    <h2>작성글 {{ reviews.count }} 개 </h2>
    <div>
      {% for review in reviews %}
      <a class="title_link" style="text-decoration: none" href="{% url 'reviews-detail' review.pk %}">
        {{ review.title }} </a>
      <hr>
      {% empty %}
      <p>작성글이 없습니다.</p>
      {% endfor %}
    </div>

    <h2>작성 댓글</h2>
    <div>
      {% for comment in comments %}
      <a class="title_link" style="text-decoration: none" href="{% url 'reviews-detail' comment.review_id %}">
        {{ comment.content }} </a>
      <hr>
      {% empty %}
      <p>작성글이 없습니다.</p>
      {% endfor %}
    </div>

  </div>

</body>
{% endblock content %}